@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Pontano+Sans:wght@300..700&display=swap');
body {
    background-image: url('../im/Desktop\ -\ 1.png'); 
    background-size: cover;  /*ปรับขนาดพื้นหลังให้เต็ม*/
    background-position: center; /*จัดให้อยู่ตรงกลาง*/
    background-repeat: no-repeat; /* ไม่ให้ภาพซ้ำ*/
    min-height: 100vh; /*ทำให้พื้นหลังเต็มหน้าจอเสมอ*/
    margin: 0;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 400px;
    font-family: "Pontano Sans";
}

.about-title {
    font-size: 128px;
    font-weight: bold;
    margin-top: -40px;
    font-family: "Playfair";
}

.group-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: -40px;
    font-family: "serif";
}

.profile {
    text-align: center;
}

.profile img {
    width: 226px;
    height: 259px;
    object-fit: cover;
   
}

.profile p {
    margin-top: 10px;
    font-size: 16px;
    gap: 227px;
    font-weight: bold;
    font-family: "serif";
}

.empty-box {
    width: 200px;
    height: 250px;
    background-color: #ccc;
    border-radius: 5px;
    border: 0px solid #00000000;
}
/*ลิงก์ที่ชื่อ*/
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: "serif";
}

a:hover {
    color: gray;
}

